@font-face {
  font-family: 'Moscow Metro';
  src: url('../assets/fonts/MoscowMetro.otf'), format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* WEB WINDOW */

.web-window{
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 15px;
  border: solid 2px;
  max-width: 95%;
}

.web-title{
  text-align: center;
  display: flex;
  font-weight: 600;
  color: black;
  padding-bottom: 15px;
  align-items: center;
  width: 100%;
  height: 52px;
  justify-content: center;
  font-size: 1.5em;
}

.web-window > .modal-text{
  max-height: 85vh;
}
 /* FULL SCREEN */

  .full-screen{
    background-color: #fdfdfd;
    position: fixed;
    z-index: 2;
    margin: 0px auto;
    width: calc(100% - 80px);
    top: 0;
    left: 80px;
    overflow: auto;
    height: 100%;
  }

  .load-img{
    width: 100px;
  }

/* MODAL WINDOW*/

:root{
    --white : #f3f2edfd;
}

.fullscreen{
  width: calc(100% - 82px) !important;
  height: 100% !important;
  max-width: unset !important;
  top: 0 !important;
  left: 82px !important;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    padding: 10px;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
/*    left: 20vw;*/
    background-color: rgb(236, 236, 236);
    color: var(--win-font);
    border-radius: 10px;
    margin: 20px auto;
    border: 1px solid #888;
    width: auto;
    max-width: 1200px ; 
    height: auto;
    padding: 10px;
/*    opacity: 95%;     */
    margin-top: 100px !important;
  }
  
  .modal-title{
      display: flex;
      font-weight: 600;
      border-bottom: solid 2px ;
      color: black;
      padding-left: 5px;
      align-items: center;
      width: 100%;
      height: 32px;    
      justify-content: space-between;
  }

  .modal-text{
      padding: 5px;
      overflow: auto;
      position: relative;
      height: calc(100% - 32px);
  }

  .close {
    position: absolute;
    right: 10px;
    padding-right: 10px;
    color: #acacac;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-title:active{
    cursor: grabbing;
    background-color: var(--top-bar);
    /*rgba(198, 235, 195, 0.8);*/
  }

  .modal-resize {
    width: 25px;
    height: 25px;     
    position: absolute;
    right: 0;
    bottom: 0;    
    border-radius: 50%;
  }

  .modal-resize:hover{
    background-color: rgba(228, 95, 95, 0.39);
    cursor: se-resize;
    right: 0;
    bottom: 0;  
  }

  @media all and (max-width : 768px) {
    .modal-content {
      width: calc(100% - 20px) !important;
      left: 10px !important;
    }

    .web-window{
      width: 100% !important;
      left: 0 !important;
      top: calc(50% - 150px) !important;
      transform: translate(0,0) !important;
      margin: 10px !important;
    }

    .fullscreen{
      left: 0 !important;
    }

  }

/* FIM MODAL */