<template>
    <style>

        .frm-atletas{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .figurinha{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 180px;
            height: 240px;
            color: black;
            border: solid 1px;
        }

        .figurinha:hover{
            border: solid 3px #4b7b4b;
            cursor: pointer;
        }

        .figurinha img{
            width: 150px;
            position: absolute;
            z-index: -1;
        }

        .fig-nome{
            position: absolute;
            bottom: 0;
            font-size: 1.5em;
            font-weight: 700;
            background-color: #fff;
            border-radius: 10px;
            padding: 0 10px;
            text-transform: uppercase;
        }

        .fig-pos{
            position: absolute;
            top: 0;
            left: 10px;
            text-transform: uppercase;
        }

        .fig-sexo{
            position: absolute;
            top: 0;
            right: 10px;
            text-transform: uppercase;
        }

    </style>


    <div class="frm-atletas">

    </div>



</template>
<script>
    const pageData = main_data.atletas.data
    const pageFunc = main_data.atletas.func
    const pageScreen = document.querySelector('#card-atletas')

    function pageStart(){
        pageFunc.viewAtletas()
    }

    pageFunc.viewAtletas = ()=>{

        
        const params = new Object;   
            params.nome = ''
        const myPromisse = queryDB(params,'ATL-0');

        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            addAtleta(json)
        })
  

    }

    function addAtleta(json){
        const frame = document.querySelector('.frm-atletas')

        for(let i=0; i<json.length; i++){
            const fig = document.createElement('div')
            frame.appendChild(fig)
            fig.className = 'figurinha'

            const img = document.createElement('img')
            fig.appendChild(img)
            img.id = 'atl-'+json[i].id

            const back = backFunc({'filename':`../assets/atletas/${json[i].nome}.jpg`},1)
            back.then((resp)=>{
                const imgExist = JSON.parse(resp) 
                img.src =  imgExist ? `assets/atletas/${json[i].nome}.jpg` : json[i].sexo=="M" ? 'assets/masc.jpg' :  'assets/fem.jpg'
            })  

            const nome = document.createElement('p')
            fig.appendChild(nome)
            nome.innerHTML = json[i].nome
            nome.className = 'fig-nome'

            const posicao = document.createElement('p')
            fig.appendChild(posicao)
            posicao.innerHTML = json[i].posicao
            posicao.className = 'fig-pos'

            const sexo = document.createElement('p')
            fig.appendChild(sexo)
            sexo.innerHTML = json[i].sexo
            sexo.className = 'fig-sexo'

            fig.addEventListener('click',()=>{
                if(localStorage.getItem('nome') != null){
                    json[i].foto = img.src
                    openHTML('ranking.html','pop-up',json[i].nome,json[i],800)
                }else{
                    alert('Você precisa estar logado para ranquear os jogadores!')
                }
            })


        }

    }


    pageStart()

</script>