
<template>

    <style>



    </style>

    <div class="overlay">
        <div class="frm">
            <div class="top-logo">
                <img src="assets/logo.png" alt="" id="logo"> 
            </div>
            <div class="frm-input">
                <span class="mdi mdi-account"></span>
                <input type="email" id="edtUser" placeholder="Email" onkeyup="validaEmail(this)">
            </div>
            <div class="frm-input">
                <span class="mdi mdi-key"></span>
                <input type="password" id="edtPass" placeholder="Senha" onkeypress="return getEnter(event, 'btnLogin')">
                <span id="btnEye" class="mdi mdi-eye-off-outline"></span>
            </div>
            <button id="btnLogin">Login</button>

            <div class="risk"></div>

            <div class="botton">
                <p>Racha de Terça ver.1.0</p>
                <p>Desenvolvido por Tales C. Dantas</p>
            </div>

            <div class="close-btn">
                <p id="close-btn">&times;</p>
            </div>

        </div>
    </div>

</template>
<script>
    



</script>