<template>
    <style>
        .pgto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #lblValor{
            font-size: 1.6em;
            padding-top: 15px;
        }

    </style>


    <div class="pgto">
        <p style="text-align: center;">Pague por PIX no QR code abaixo</p>
        <div id="qrcode"></div>
        <label id="lblValor"></label>
        <input id="payload" type="text" readonly>
        <div class="line">
            <button id="btnCopy">Copiar</button>
        </div>        
    </div>


</template>
<script>
    const pageData = main_data.pgto.data
    const pageFunc = main_data.pgto.func
    const pageScreen = document.querySelector('#card-pgto')
    const chave  = '26687200879'
    const nome = 'TALES CEMBRANELI DANTAS'
    const cidade = 'CACAPAVA'
    const codpgto = 'rachadeterca' 

    function pageStart(){

        const valor  = pageData.tipo=='mensal' ?  '30.00' : '10.00'
        const pix = new Pix(chave,valor,nome,cidade,codpgto)
        const payload = pix.payload()
        pageScreen.querySelector('#payload').value = payload
        pageScreen.querySelector('#lblValor').innerHTML = 'R$'+valor
        console.log(payload)
        const qrcode = new QRCode("qrcode", {
            text:payload,
            width: 250,
            height: 250,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H,
            size : 300
        })
    }

    pageScreen.querySelector('#btnCopy').addEventListener('click',()=>{
        pageScreen.querySelector('#payload').focus();
        pageScreen.querySelector('#payload').select();
        document.execCommand('copy')
        alert('Código de pagamento copiado para área de transferência!')
    })


    pageStart()

</script>