<template>
    <style>
        .frm-post{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    </style>

    <div class="frm-post">
        <textarea id="edtPost" cols="50" rows="7" maxlength="512"></textarea>
        <div class="inline">
            <button id="btnPost">Postar</button>
        </div>
    </div>

</template>
<script>
    const pageData = main_data.post.data
    const pageFunc = main_data.post.func
    const pageScreen = document.querySelector('#card-post')
    const newPost = Object.keys(pageData).length <= 2

    function pageStart(){
        if(!newPost){
            pageScreen.querySelector('#edtPost').value = pageData.texto
        }

    }

    pageScreen.querySelector('#btnPost').addEventListener('click',()=>{
        const texto = pageScreen.querySelector('#edtPost').value.trim()
        const edit = newPost ? 0 : pageData.id_post
        const filho = Object.keys(pageData).length === 2 ? pageData.id_pai : 0
        setPost(texto,edit,filho).then((resolve)=>{
            loadPost()
            closeModal('post')
        })
    })



    pageStart()

</script>