<template>
    <style>
        .frm-post{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    </style>

    <div class="frm-post">
        <textarea id="edtPost" cols="50" rows="7" maxlength="512"></textarea>
        <button id="btnPost">Postar</button>
    </div>

</template>
<script>
    const pageData = main_data.post.data
    const pageFunc = main_data.post.func
    const pageScreen = document.querySelector('#card-post')

    function pageStart(){

    }

    pageFunc.setPost = (post_pai=0,id=0)=>{
        const params = new Object
            params.id  = id
            params.id_post = post_pai
            params.texto = pageScreen.querySelector('#edtPost').value

        const MyPromisse = queryDB(params,'PST-1')
        MyPromisse.then((resolve)=>{
            closeModal('post')
        })
    }

    pageScreen.querySelector('#btnPost').addEventListener('click',()=>{
        pageFunc.setPost()
    })



    pageStart()

</script>