<template>
    <style>
        .vai{
            background-color: greenyellow !important;
        }
    </style>

    <div class="inline">
        <select id="cmbData"></select>
    </div>

    <fieldset>
        <legend>Mensalistas</legend>
        <table id="tblMensal"></table>
    </fieldset>
    <fieldset>
        <legend>Lista de Avulsos</legend>
        <table id="tblAvulso"></table>
    </fieldset>



</template>
<script>
    const pageData = main_data.presenca.data
    const pageFunc = main_data.presenca.func
    const pageScreen = document.querySelector('#card-presenca')

    function pageStart(){
        pageFunc.viewRacha()
    }

    pageFunc.viewRacha = ()=>{
        const params = new Object;   
            params.open = 1
        const MyPromisse = queryDB(params,'RCH-0')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const sel = pageScreen.querySelector('#cmbData')
            sel.innerHTML = ''
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].dia.viewDate()
                opt.data = json[i]
                sel.appendChild(opt)
            }
            sel.selectedIndex = json.length-1
            pageFunc.viewPresenca()
        })
    }

    pageFunc.viewPresenca = ()=>{
        const params = new Object;   
            params.id_racha = pageScreen.querySelector('#cmbData').value
        const MyPromisse = queryDB(params,'RCH-2')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl_mensal =  pageScreen.querySelector('#tblMensal')
            tbl_mensal.head('Nome,Posição,Vai')
            const tbl_avulso =  pageScreen.querySelector('#tblAvulso')
            tbl_avulso.head('Nome,Posição,Vai')
            let vagas = 0
            for(let i=0; i<json.length; i++){
                vagas += json[i].vai=='SIM' ? 1 : 0
                if(Number(json[i].mensalista)){
                    tbl_mensal.plot(json[i],'nome,posicao,vai','Ipp,Upp,Upp',json[i].vai=='SIM' ? 'vai' : 'nao_vai')
                }else{
                    tbl_avulso.plot(json[i],'nome,posicao,vai','Ipp,Upp,Upp',(json[i].vai=='SIM' && vagas <=18) ? 'vai' : 'nao_vai')
                }
            }
        })
    }

    pageFunc.setPresenca = (data)=>{
        if(localStorage.getItem('id_atleta')=='null'){
            if(confirm(`O usuário ${localStorage.getItem('nome')} é o atleta ${data.nome} são a mesma pessoa?`)){
                pageFunc.setUsrAtl(data)
            }
        }else{
            if(localStorage.getItem('access')=='0' || localStorage.getItem('id_atleta')==data.id){
                const params = new Object;   
                    params.id_atleta = data.id
                    params.id_racha = pageScreen.querySelector('#cmbData').value
                const MyPromisse = queryDB(params,'RCH-3')
                MyPromisse.then((resolve)=>{
                    pageFunc.viewPresenca()
                })
            }else{
                alert('Você não tem permissão para acessar o atleta '+data.nome)
            }
        }
    }

    pageFunc.setUsrAtl = (data)=>{
        const params = new Object;   
            params.id_atleta = data.id
        const MyPromisse = queryDB(params,'ATL-3')
        MyPromisse.then((resolve)=>{
            localStorage.setItem("id_atleta",data.id)
            alert('Atleta vinculado ao usuário, agora você tem acesso a confirmações em nome deste atleta!')
            pageFunc.setPresenca(data)
        })
    }

    pageScreen.querySelector('#cmbData').addEventListener('change',()=>{
        pageFunc.viewPresenca()
    })

    pageScreen.querySelector('#tblMensal').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        pageFunc.setPresenca(data)        
    })

    pageScreen.querySelector('#tblAvulso').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        pageFunc.setPresenca(data)        
    })


    pageStart()

</script>