<template>
    <style>
        .vai{
            background-color: greenyellow !important;
        }
    </style>

    <div class="inline">
        <select id="cmbData"></select>
    </div>

    <fieldset>
        <legend>Mensalistas</legend>
        <table id="tblMensal"></table>
    </fieldset>
    <fieldset>
        <legend>Lista de Avulsos</legend>
        <table id="tblAvulso"></table>
    </fieldset>

    <div class="line">
        <button class="hide btn-adm" id="btnSort" disabled>Sortear Times</button>
    </div>



</template>
<script>
    const pageData = main_data.presenca.data
    const pageFunc = main_data.presenca.func
    const pageScreen = document.querySelector('#card-presenca')

    function pageStart(){
        pageFunc.viewRacha()

        if(localStorage.getItem('access')=='0'){
            pageScreen.querySelector('.btn-adm').style.display = 'block'
        }
    }

    pageFunc.viewRacha = ()=>{
        const params = new Object;   
            params.open = 1
        const MyPromisse = queryDB(params,'RCH-0')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const sel = pageScreen.querySelector('#cmbData')
            sel.innerHTML = ''
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].dia.viewDate()
                opt.data = json[i]
                sel.appendChild(opt)
            }
            sel.selectedIndex = json.length-1
            pageFunc.viewPresenca()
        })
    }

    pageFunc.viewPresenca = ()=>{
        const params = new Object;   
            params.id_racha = pageScreen.querySelector('#cmbData').value
        const MyPromisse = queryDB(params,'RCH-2')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageData.atletas = []
            const tbl_mensal =  pageScreen.querySelector('#tblMensal')
            tbl_mensal.head('Nome,Posição,Vai')
            const tbl_avulso =  pageScreen.querySelector('#tblAvulso')
            tbl_avulso.head('Nome,Posição,Vai')
            for(let i=0; i<json.length; i++){
                const vai = json[i].vai=='SIM' && pageData.atletas.length <18
                if(vai){
                    json[i].nota = Number(json[i].nota)
                    pageData.atletas.push(json[i])
                }

                if(json[i].mensalista=='SIM'){
                    tbl_mensal.plot(json[i],'nome,posicao,vai','Upp,Upp,Upp',json[i].vai=='SIM' ? 'vai' : 'nao_vai')
                }else{
                    tbl_avulso.plot(json[i],'nome,posicao,vai','Upp,Upp,Upp',vai ? 'vai' : 'nao_vai')
                }
            }
            pageScreen.querySelector('#btnSort').disabled = 0
        })
    }

    pageFunc.setPresenca = (data)=>{
        if(localStorage.getItem('id_atleta')=='null'){
            if(confirm(`O usuário ${localStorage.getItem('nome')} é o atleta ${data.nome} são a mesma pessoa?`)){
                pageFunc.setUsrAtl(data)
            }
        }else{
            if(localStorage.getItem('access')=='0' || localStorage.getItem('id_atleta')==data.id_atleta){
                const params = new Object;   
                    params.id_atleta = data.id_atleta
                    params.id_racha = pageScreen.querySelector('#cmbData').value
                const MyPromisse = queryDB(params,'RCH-3')
                MyPromisse.then((resolve)=>{
                    pageFunc.viewPresenca()
                })
            }else{
                alert('Você não tem permissão para acessar o atleta '+data.nome)
            }
        }
    }

    pageFunc.setUsrAtl = (data)=>{
        const params = new Object;   
            params.id_atleta = data.id_atleta
        const MyPromisse = queryDB(params,'ATL-3')
        MyPromisse.then((resolve)=>{
            localStorage.setItem("id_atleta",data.id_atleta)
            alert('Atleta vinculado ao usuário, agora você tem acesso a confirmações em nome deste atleta!')
            pageFunc.setPresenca(data)
        })
    }

    pageScreen.querySelector('#cmbData').addEventListener('change',()=>{
        pageFunc.viewPresenca()
    })

    pageScreen.querySelector('#tblMensal').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        pageFunc.setPresenca(data)        
    })

    pageScreen.querySelector('#tblAvulso').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        pageFunc.setPresenca(data)        
    })

    pageScreen.querySelector('#btnSort').addEventListener('click',()=>{
        if(pageData.vagas < 18){
            if(confirm('O número de atletas confirmador é menor do que 18, deseja continuar mesmo assim?')){
                sorteio()
            }
        }else{
            sorteio()
        }
    })

    function sorteio(){

        function getMedia(index){
            const out = new Object
            out.nota  = 0
            out.media = 0
            out.qtd   = 0
            for(let i=0; i<times[index].length; i++){
                out.nota += times[index][i].nota
                out.qtd++
                out.media = out.nota/out.qtd
            }
            return out
        }

        function qtdTimes(atletas){
            const out = []
            for(let i=0; i<Math.ceil(atletas.length/6); i++){
                out.push([])
            }
            return out
        }

        function setAtleta(arr){
            const index =  Math.floor(Math.random()*10000)%arr.length
            const nota = arr[index].nota
            let tm_index = {'nota':99999999, 'qtd':0,'media':999999,'index':0}
            for(let i=0; i<times.length; i++){
                const tm = getMedia(i)
                tm.nota += nota
                tm.index = i                 
                if(tm.nota < tm_index.nota && tm.qtd <  5){
                    tm_index = tm
                }
            }

            times[tm_index.index].push(arr[index])
            arr.splice(index,1)
        }



        pageData.atletas.sort((a, b) => a.nota - b.nota);
        const atletas = JSON.parse(JSON.stringify(pageData.atletas)) 
        const times  = qtdTimes(atletas)
        const levantador = []
        const fem  = []
        
// Separa Levantadores e mulheres
        for(let i=0; i<atletas.length; i++){
            if(atletas[i].posicao ==  'LEVANTADOR'){
                levantador.push(atletas[i])
                atletas.splice(i,1)
                i--
            }else if(atletas[i].sexo ==  'F'){
                fem.push(atletas[i])
                atletas.splice(i,1)
                i--
            }
        }

// Distribui os melhores Levantadores
        let index=0
        while(levantador.length && index<3){
            times[index].push(levantador[levantador.length-1])
            levantador.splice(levantador.length-1,1)
            index ++
        }

// Realoca os levantadores sobresalentes
        while(levantador.length){
            atletas.push(levantador[0])
            levantador.splice(0,1)
        }
        atletas.sort((a, b) => a.nota - b.nota);


// Distribui as mulheres

        index  = 0
        while(fem.length  && index<3){
            index = index>2 ? 0 : index
            times[index].push(fem[0])
            fem.splice(0,1)
            index ++
        }

// Realoca as mulheres sobresalentes
        while(fem.length){
            atletas.push(fem[0])
            fem.splice(0,1)
        }
        atletas.sort((a, b) => a.nota - b.nota);

// Sorteia os times        
        while(atletas.length){
            setAtleta(atletas)
        }

// Completa os primeiros times
        for(let i=0; i<times.length-1;i++){
            const last_time = times[times.length-1]
            while(times[i].length != 6){
                const time = times[i]
                if(time.length > 6){
                    const last_player = time[time.length-1]
                    last_time.push(last_player)
                    time.splice(time.length-1,1)
                }else if(times[i].length < 6){
                    const last_player = last_time[last_time.length-1]
                    time.push(last_player)
                    last_time.splice(last_time.length-1,1)
                }
            }
        }

// sorteia a ordem dos times

        const out = new Object
        out.data = document.querySelector('#cmbData').options[document.querySelector('#cmbData').selectedIndex ].innerHTML
        out.times  = []

        while(times.length){
            if(times[times.length-1].length<6){
                out.times.push(times[times.length-1])
                times.splice(times.length-1,1)
            }else{
                const sort = Math.floor(Math.random()*10000)%times.length
                out.times.unshift(times[sort])
                times.splice(sort,1)
            }
        }


        openHTML('sorteio.html','pop-up','Times Sorteados',out)


    }


    pageStart()

</script>