<template>
    <style>
        .vai{
            background-color: greenyellow !important;
        }
    </style>

    <div class="inline">
        <select id="cmbData"></select>
    </div>

    <fieldset>
        <legend>Mensalistas</legend>
        <table id="tblMensal"></table>
    </fieldset>
    <fieldset>
        <legend>Lista de Avulsos</legend>
        <table id="tblAvulso"></table>
    </fieldset>

    <div class="line">
        <button class="hide btn-adm" id="btnSort">Sortear Times</button>
    </div>



</template>
<script>
    const pageData = main_data.presenca.data
    const pageFunc = main_data.presenca.func
    const pageScreen = document.querySelector('#card-presenca')

    function pageStart(){
        pageFunc.viewRacha()

        if(localStorage.getItem('access')=='0'){
            pageScreen.querySelector('.btn-adm').style.display = 'block'
        }
    }

    pageFunc.viewRacha = ()=>{
        const params = new Object;   
            params.open = 1
        const MyPromisse = queryDB(params,'RCH-0')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const sel = pageScreen.querySelector('#cmbData')
            sel.innerHTML = ''
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].dia.viewDate()
                opt.data = json[i]
                sel.appendChild(opt)
            }
            sel.selectedIndex = json.length-1
            pageFunc.viewPresenca()
        })
    }

    pageFunc.viewPresenca = ()=>{
        const params = new Object;   
            params.id_racha = pageScreen.querySelector('#cmbData').value
        const MyPromisse = queryDB(params,'RCH-2')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageData.atletas = []
            const tbl_mensal =  pageScreen.querySelector('#tblMensal')
            tbl_mensal.head('Nome,Posição,Vai')
            const tbl_avulso =  pageScreen.querySelector('#tblAvulso')
            tbl_avulso.head('Nome,Posição,Vai')
            for(let i=0; i<json.length; i++){
                const vai = json[i].vai=='SIM' && pageData.atletas.length <18
                if(vai){
                    json[i].nota = Number(json[i].nota)
                    pageData.atletas.push(json[i])
                }

                if(json[i].mensalista=='SIM'){
                    tbl_mensal.plot(json[i],'nome,posicao,vai','Upp,Upp,Upp',json[i].vai=='SIM' ? 'vai' : 'nao_vai')
                }else{
                    tbl_avulso.plot(json[i],'nome,posicao,vai','Upp,Upp,Upp',vai ? 'vai' : 'nao_vai')
                }
            }
        })
    }

    pageFunc.setPresenca = (data)=>{
        if(localStorage.getItem('id_atleta')=='null'){
            if(confirm(`O usuário ${localStorage.getItem('nome')} é o atleta ${data.nome} são a mesma pessoa?`)){
                pageFunc.setUsrAtl(data)
            }
        }else{
            if(localStorage.getItem('access')=='0' || localStorage.getItem('id_atleta')==data.id_atleta){
                const params = new Object;   
                    params.id_atleta = data.id_atleta
                    params.id_racha = pageScreen.querySelector('#cmbData').value
                const MyPromisse = queryDB(params,'RCH-3')
                MyPromisse.then((resolve)=>{
                    pageFunc.viewPresenca()
                })
            }else{
                alert('Você não tem permissão para acessar o atleta '+data.nome)
            }
        }
    }

    pageFunc.setUsrAtl = (data)=>{
        const params = new Object;   
            params.id_atleta = data.id
        const MyPromisse = queryDB(params,'ATL-3')
        MyPromisse.then((resolve)=>{
            localStorage.setItem("id_atleta",data.id)
            alert('Atleta vinculado ao usuário, agora você tem acesso a confirmações em nome deste atleta!')
            pageFunc.setPresenca(data)
        })
    }

    pageScreen.querySelector('#cmbData').addEventListener('change',()=>{
        pageFunc.viewPresenca()
    })

    pageScreen.querySelector('#tblMensal').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        pageFunc.setPresenca(data)        
    })

    pageScreen.querySelector('#tblAvulso').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        pageFunc.setPresenca(data)        
    })

    pageScreen.querySelector('#btnSort').addEventListener('click',()=>{
        if(pageData.vagas < 18){
            if(confirm('O número de atletas confirmador é menor do que 18, deseja continuar mesmo assim?')){
                sorteio()
            }
        }else{
            sorteio()
        }
    })

    function sorteio(){
        const atletas = pageData.atletas
        atletas.sort((a, b) => a.nota - b.nota);
        const levantador = []

        for(let i=0; i<atletas.length; i++){
            if(atletas[i].posicao ==  'LEVANTADOR'){
                levantador.push(atletas[i])
                atletas.splice(i,1)
            }           
        }

        while(levantador.length > 3){
            atletas.push(levantador[0])
            levantador.splice(0,1)
        }
        atletas.sort((a, b) => a.nota - b.nota);


        const A = []
        const B = []
        const C = []
        
        



        console.log(levantador)
        console.log(atletas)
    }


    pageStart()

</script>