<template>
    <style>

        .center-screen{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .frm-times{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

    <div class="center-screen">
        <canvas id="myCanvas" width="400" height="700"></canvas>
        <button id="btnSave">Salvar</button>
    </div>


</template>
<script>
    const pageData = main_data.sorteio.data
    const pageFunc = main_data.sorteio.func
    const pageScreen = document.querySelector('#card-sorteio')

    function pageStart(){
        showTimes()
    }

    function loadLogo(ctx){
        const img = new Image();
        img.src = 'assets/logo.png';
        img.onload = function() {
            ctx.drawImage(img, 0, 0,370,40);
        }

    }

    function showTimes(){
        const frm = pageScreen.querySelector('.frm-times')

        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');
        ctx.fillStyle = '#FFFFFF';
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        loadLogo(ctx)

        ctx.font = '30px Arial';
        ctx.fillStyle = '#376131'
        ctx.fillText(pageData.data, 120, 70)

        for(let i=0; i<pageData.times.length; i++){
            
            ctx.font = '20px Arial';
            ctx.fillStyle = '#376131'
            ctx.fillText('Time '+String.fromCharCode(65+i), 50, 120+i*200)
//            ctx.font = '10px Arial';
            ctx.fillStyle = '#314b61'; // Set text color
            for(let j=0; j<pageData.times[i].length; j++){
                ctx.fillText(`${pageData.times[i][j].nome}`, 50, 150+j*25+i*200)
                ctx.fillText(`${pageData.times[i][j].posicao}`, 200, 150+j*25+i*200)
            }
        }
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{

        if(confirm('Deseja salvar os times nesta configuração?')){

            for(let i=0; i<pageData.times.length; i++){
                setTime(pageData.times[i],String.fromCharCode(65+i))
            }

            const canvas = document.getElementById('myCanvas');
            const dataURL = canvas.toDataURL('image/png');

            // To create a download link
            const link = document.createElement('a');
            link.id = 'img-download'
            link.href = dataURL;
            link.download = `${pageData.data.replaceAll('/','_')}.png`;
            link.textContent = 'Download Image';
            document.body.appendChild(link);
            link.click()
            link.remove()
        }

    })

    function setTime(players,time){

        let lista = ''
        let id_racha = ''
        
        for(let i=0; i<players.length; i++){
            id_racha  = players[i].id_racha
            lista += (i==0 ? '' : ',') + players[i].id_atleta
        }

        const params = new Object;   
            params.id_racha = id_racha
            params.id_atletas = lista
            params.time = time
        const MyPromisse = queryDB(params,'RCH-4')
        MyPromisse.then((resolve)=>{

        })
    }


    pageStart()

</script>