<template>
    <style>
        .frm-times{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        #tblPlacar td{
            text-align: center;
            font-size: 1.5em;
        }

    </style>

    <div class="inline">
        <select id="cmbData"></select>
    </div>

    <div class="frm-times"></div>
    <table id="tblPlacar"></table>

</template>
<script>
    const pageData = main_data.times.data
    const pageFunc = main_data.times.func
    const pageScreen = document.querySelector('#card-times')

    function pageStart(){
        pageFunc.viewRacha()
    }


    pageFunc.viewRacha = ()=>{
        const params = new Object;   
            params.open = 0
        const MyPromisse = queryDB(params,'RCH-0')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const sel = pageScreen.querySelector('#cmbData')
            sel.innerHTML = ''
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].dia.viewDate()
                opt.data = json[i]
                sel.appendChild(opt)
            }
            sel.selectedIndex = json.length-1
            pageFunc.viewTimes()            
        })
    }

    pageFunc.viewTimes = ()=>{
        const params = new Object;   
            params.id_racha = pageScreen.querySelector('#cmbData').value
        const MyPromisse = queryDB(params,'RCH-2')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageData.times = new Object
            for(let i=0; i<json.length; i++){
                const time = json[i].time
                if(pageData.times[time] == undefined && time!=''){
                    pageData.times[time] = []
                }
                if(time!=''){
                    pageData.times[time].push(json[i])
                }

            }

            const frm = pageScreen.querySelector('.frm-times')
            frm.innerHTML = ''
            for (const [key, value] of Object.entries(pageData.times)) {                
                const fds = document.createElement('fieldset')
                fds.style.order = key=="A" ? -1 : key=="C" ? 3 : 0
                frm.appendChild(fds)
                const legend = document.createElement('legend')
                fds.appendChild(legend)
                legend.innerHTML = 'Time '+key
                const tbl = document.createElement('table')
                fds.appendChild(tbl)
                tbl.head('Nome,Posição,Mensal')
                value.sort((a, b) => a.posicao < b.posicao);
                for(let j=0; j<value.length; j++){
                    tbl.plot(value[j],'nome,posicao,mensalista','Upp,Upp,Upp')
                }
                if(localStorage.getItem('access')=='0'){
                    tbl.addEventListener('click',(e)=>{
                        const data = e.target.parentNode.data
                        e.preventDefault()
                        const tbl = []

                        const del = new Object
                        del.label = 'Remover'
                        del.link = ()=>{
                            if(confirm(`Remover o atleta  ${data.nome} do time ${data.time}?`)){
                                const params = new Object;   
                                    params.id_racha = data.id_racha
                                    params.id_atleta = data.id_atleta
                                    params.time =  ''
                                queryDB(params,'RCH-4').then((resolve)=>{
                                    pageFunc.viewTimes()
                                })
                            }
                        }            
                        tbl.push(del)
            
                        const edit = new Object
                        edit.label = 'Adicionar'
                        edit.link = ()=>{
                            openHTML('sel_atleta.html','pop-up','Seleção de Atletas',data)
                        }            
                        tbl.push(edit)          
                        menuContext(tbl,e)

                    })
                }


            }
            pageFunc.viewJogos()
        })
    }

    pageFunc.viewJogos= ()=>{
        const params = new Object;   
            params.id_racha = pageScreen.querySelector('#cmbData').value
        const MyPromisse = queryDB(params,'RCH-5')
        MyPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblPlacar')
            tbl.head('')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'time_1,placar_1,X,placar_2,time_2','Upp,Upp,let,Upp,Upp')
            }

        })
    }

    pageScreen.querySelector('#cmbData').addEventListener('change',()=>{
        pageFunc.viewTimes()
    })



    pageStart()

</script>